@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-UltralightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-SemiboldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Ultralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-LightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-HeavyItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}



.container{
    max-width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-top{
    padding: 9px 0 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 40px;
}
.menu>li:last-child{
    margin-right: 0px;
}

.menu>li>a{
    margin-right: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000;
}

.headar-contact{
    display: flex; 
}
.social>a>img{
    margin-right: 10px;
}
.tel>a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.tel{
    display: flex;
    flex-direction: column;
}
.h1{
    font-family: "Inter", sans-serif;
font-weight: 900;
font-size: 52px;
line-height: 119%;
color: #000;
}
.p{
    font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 160%;
color: #000;
}
