.container{
    max-width: 1280px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-top{
    padding: 9px 0 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 40px;
}
.menu>li:last-child{
    margin-right: 0px;
}

.menu>li>a{
    margin-right: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000;
}
